.invoice-form {
  width: 80%;
  height: auto;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  border: 3px solid black;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  border: 2px solid black;
  font-size: small;
  margin: 4px 0;
}

.first-information {
  font-size: smaller;
  border: 2px solid black; 
  margin: 2px 0;
  padding: 0;
}

.second-content {
  font-size: smaller;
  border: 2px solid black;
  margin: 2px 0;
}

.information-table {
  border: 2px solid black;
  padding: 10px;
  margin: 2px 0;
}

.date-section {
  text-align: center;
  margin-bottom: 20px;
}

.section label {
  display: inline-block;
  width: 150px;
}

.section input {
  margin-bottom: 10px;
  width: calc(100% - 160px);
  font-size: smaller;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
  box-sizing: border-box;
}

th {
  background-color: #f2f2f2;
}

td input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 8px;
}

.total-input {
  padding-left: 60px;
}

.total-content {
  display: flex;
  margin-top: 20px;
}

.signatures {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@media print {
  @page {
    margin: 10mm;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    margin: 0;
    padding: 0;
  }

  .invoice-form {
    max-width: 100%;
    margin: 50px auto;
    border: 2px solid #000;
    padding: 10px;
    box-sizing: border-box;
  }

  .header, .first-information, .second-content, .information-table, .total-content, .signatures {
    page-break-inside: avoid;
  }
  .signatures{
  padding-bottom: 1cm;
  }
  table {
    max-width: 90%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 1px;
    text-align: left;
    page-break-inside: avoid;
    box-sizing: border-box;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .actions {
    display: none;
  }

  .preview-modal {
    display: none;
  }
}

@media screen {
  .invoice-form {
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    max-width: 800px;
  }
  .signatures{
    padding-bottom: 2cm;
  }


  .actions {
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #000;
    padding: 1px;
    text-align: left;
  }
}
